#logo{
    height: 60px;
    width: 60px;
}
#radisonimage{
    height: 500px;
    width: 500px;
}
#socialmedia{
    height: 20px;
    width: 22px;}

body{
        margin: 0px;
        background-color: #e0e0e0;
    }
header, footer{
        background-color: rosybrown;
}
#contentDiv{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
form{
    margin-bottom: 1%;
}