#logo{
    height: 60px;
    width: 60px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
#cityImages{
    height: 150px;
    width: 150px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
#socialmedia{
    height: 20px;
    width: 22px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    display: inline-block;
    
    
}
body{
   
    background-color: #e0e0e0;
    margin: 0%;
    padding: 0%;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    
}
header, footer{
    background-color: rosybrown;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    
 
}
nav{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;   
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    text-align: center;
    
}
#search{
    margin-top: 10%;
    border-radius: 5px;
    border: 1px transparent black;
}
#cityImages{
    padding: 5%;
    border-radius: 25%;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif ;
    color: black;
}